# Esercitazione sulle Basi di Python

## Somma primi 100 numeri naturali

Creare uno script `Python` (file di testo con estensione `.py`) che:
1. calcoli la somma dei primi 100 numeri naturali;
2. stampi il risultato a schermo;


_Soluzione: somma_100.py_

## Somma primi N numeri naturali

Creare uno script `Python` che:
1. chieda in input un numero intero `n`;
2. stampi a schermo la somma dei primi `n` numeri naturali;

_Soluzione: somma_n.py_

## Calcolo età

Creare uno script `Python` che:
1. chieda in input la vostra data di nascita;
2. calcoli la vostra età in anni, giorni e secondi;
3. stampi a schermo i risultati con stringhe formattatate in modo che appaiano incolonnati;
per svolgere quetsa parte è necessario familiarizzare con il modulo `datetime`:

https://docs.python.org/3/library/datetime.html

e in particolare con le funzionalità mostrate negli esempi di seguito:

In [1]:
# import datetime
from datetime import datetime, timedelta

In [2]:
# data e ora attuale
datetime.now()

datetime.datetime(2023, 10, 11, 14, 20, 45, 785040)

In [3]:
datenow = datetime.now()

print(datenow.year)
print(datenow.hour)
print(datenow.second)

2023
14
26

In [4]:
# definisco data da stringa formattata giorno-mese-anno
mydate_str = '12-9-1920'
mydate = datetime.strptime(mydate_str, "%d-%m-%Y")

In [5]:
print('date:',       mydate       )
print('year:',  mydate.year  )
print('second:',mydate.second)

date: 1920-09-12 00:00:00
year: 1920
second: 0

In [6]:
# definisco data da stringa formattata includendo l'orario
mydatehr_str = '12-9-1920 21:33:45'
mydatehr = datetime.strptime(mydatehr_str, "%d-%m-%Y %H:%M:%S")

In [7]:
print('date:', mydatehr     )
print('day:',  mydatehr.day )
print('hour:', mydatehr.hour)

date: 1920-09-12 21:33:45
day: 12
hour: 21

In [8]:
# calcolo differenza temporale
timediff = datenow - mydate

In [9]:
timediff

datetime.timedelta(days=37649, seconds=51686, microseconds=649740)

In [10]:
# Differenza temporale i nsecondi
tots = timediff.total_seconds()
print(tots)

3252925286.64974

_Soluzione: myage.py_

## Liste e Dizionari

Creare uno script python che 

* Crei una lista con i nomi dei giorni della settimana
* Crei una lista col nome dei giorni della settimana per tutto il mese di ottobre 2023
* Crei un dizionario che metta in relazione il giorno del mese di ottobre 2023 con il giorno della settimana

_Soluzione: lists.py_

### Esempi utilizzo liste

In [11]:
l1 = [10, 20, 30, 40]
l2 = ['a', 'b', 'c', 'd']

for n,s in zip(l1,l2):
    print(n,s)

10 a
20 b
30 c
40 d

In [12]:
l1+l2

[10, 20, 30, 40, 'a', 'b', 'c', 'd']

In [13]:
l1*2

[10, 20, 30, 40, 10, 20, 30, 40]